<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark d-flex">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Accessified</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav justify-content-end">
          <a class="nav-link" href="/examiner">Examiner</a>
          <a class="nav-link" href="/student">Student</a>
          <a class="nav-link" href="/about">About</a>
          <a class="nav-link" href="/users/register">Register</a>
          <a class="nav-link" href="/users/login">Login</a>
        </div>
      </div>
    </div>
</nav>