<%layout('layout/boilerplate')%>

    <div class="container">
      <div class="row">
        <div class="col">
          <!-- <h3>ACCESSIFIED<br /></h3> -->
          <h4>
            Accessified is a platform for assessing and evaluating<br/>
            Real-world, Real-time<br/>
            Coding skills & Assessments.<br/>
            Accessified Screen, Train, Certify and hire talents faster.</h4>
          <form class="form_ container" method="get" action="/users/login" enctype="application/x-www-form-urlencoded"></form>
          <button type="button">Learn More</button>
        </form>
        </div>
        <div class="col2">
          <!-- <img
            src="https://schoolville.com/sitefiles/Updates/2264820/exam.jpg"
            alt=""
            class="control"
          /> -->
          <!-- <div class="color-box">Bug</div> -->
        </div>
      </div>
    </div>
