<!-- <link rel="stylesheet" href="/stylesheets/menubar.css" />
<header class="header">
        <h1 class="logo">Accessi<span class="logocolor">Fied</span></h1>
        <ul class="main-nav">
          <li><a href="/home" class="active">Home</a></li>
          <li><a href="/examiner">Examiner</a></li>
          <li><a href="/student">Student</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/users/login">Login</a></li>
        </ul>
    </header> -->